#holder{
	width: 100%;
}

#innerHolder{
	width: 1000px;
	margin: 0 auto 0 auto;
	position: relative;
}

#searchHolder{
	width: 1000px;
	height: 80px;
	border-radius: 10px 10px 10px 10px;
	background-color: #DBDBDB;
}

#busRFC{
	position: absolute;
	top: 43px;
	left: 15px;
}

#campoRFC{
	position: absolute;
	top: 40px;
	left: 65px;
}

#busDocumentos{
	position: absolute;
	top: 43px;
	left: 330px;
}

#campoDocumentos{
	position: absolute;
	top: 40px;
	left: 420px;
}

#busUnidad{
	position: absolute;
	top: 43px;
	left: 680px;
}

#campoUnidad{
	position: absolute;
	top: 40px;
	left: 735px;
	height: 25px;
}

#busBoton{
	position: absolute;
	top: 75px;
	left: 880px;
}

#error {
	position: absolute;
	top: 80px;
	right: 135px;
	color: #C10C2D;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
}

.dato{
	font-size: 14px;
}

#resultadosHolder{
	width: 1000px;
	height: 400px;
	border-radius: 10px 10px 10px 10px;
	background-color: #DBDBDB;
}	

.tablaResultados{
	width: 1000px;
}

.tablaHeadHolder{
	position: absolute;
}

#tableHolder{
	position: relative;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
	width: 1000px;
	height: 370px;
}

table th {;
  font-size: 10px;
}

.th0{
	width: 200px;
}
.th1{
	width: 200px;
}
.th2{
	width: 200px;
}
.th3{
	width: 200px;
}
.th4{
	width: 200px;
}


.boton{
	margin-top: 10px;
	float: right;
}

.label{
	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
}