#holder{
	width: 100%;
}

#innerHolder{
	width: 1000px;
	margin: 0 auto 0 auto;
	position: relative;
}

#contentHolder{
	width: 1000px;
	height: 340px;
	position: absolute;
	border-radius: 10px 10px 10px 10px;
	background-color: #DBDBDB;
}

table td{
	text-align: center;
	width: 330px;
	font-size: 14px;
	font-weight: bold;
}

#tablaIris{
	position: absolute;
	top: 50px;
}

.tdTexto{
	height: 30px;
}

#bdescargar{
	position: absolute;
	bottom: 20px;
	right: 20px;
}